[package]
name = "gateway"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
publish = false

[dependencies]
axum = { workspace = true }
matchit = { workspace = true }
thiserror = { workspace = true }