:root {
  --dark: #000000;
  --light: #ffffff;
  --link: #a1a1a1;
  --link-hover: #ffffff;

  font-family: system-ui;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

code {
  font-family: monospace;
}

.link {
  color: var(--link);
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--link-hover);
  filter: drop-shadow(0 0 1px);
}

.link::before {
  content: '[';
}

.link::after {
  content: ']';
}
